<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script>
      function to_open() {
        tm = window.open(
          "child.html",
          "rating",
          "width=900,height=700%,left=120,top=180"
        );
      }
      function to_close() {
        tm.close;
      }
    </script>
  </head>
  <body>
    <h1>Delivery In</h1>
    <input type="button" value="State" onclick="to_open()" />
    <!-- <input type="button" value="State close" onclick="to_close()" /> -->
    <br />
    <!-- <script>
      dt = new Date();
      document.write(dt);
    </script>
    <br /> -->
    <form method="post" action="" name="f1">
      <!-- <label>Your name</label> -->
      <input type="text" name="f_name" />
    </form>
  </body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="stle.css">

 
  </head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <body>
     <div class="dropdown">
         //<div class="select">
          //<span class="selected">chennai</span>
          //<h1>select location</h1>
          //<h3>provide your location to server you better</h3>
          //<h4 style="margin-left: 10%; margin-top: 2%">popular cities</h4> 
  
          
            <div class="popular_2">
              <img src="./image/popular 1.png" class="selectedimg" />
                <div class="selected">bangalore</div >
              
            </div>
            <i class="fa-solid fa-caret-down arrow"></i>
            <div class="list">
                <div class="item">
                    <img src="./image/popular 2.png">
                    <h6>mumbai</h6>
                </div>

                <div class="item">
                    <img src="./image/popular 2.png">
                    <h6>mumbai</h6>
                </div>

                <div class="item">
                    <img src="./image/popular 2.png">
                    <h6>mumbai</h6>
                </div>

                <div class="item">
                    <img src="./image/popular 2.png">
                    <h6>mumbai</h6>
                </div>

                <div class="item">
                    <img src="./image/popular 2.png">
                    <h6>mumbai</h6>
                </div>

                <div class="item">
                    <img src="./image/popular 2.png">
                    <h6>mumbai</h6>
                </div>4
            </div>
  
           // <div class="popular_2">
              <a href="#"
                ><img
                  src="./image/popular 2.png"
                  style="width: 60%; height: 100px"
                />
                <h6>chandigarh</h6></a
              >
            </div>
  
            <div class="popular_2">
              <a href="#"
                ><img
                  src="./image/popular 3.png"
                  style="width: 60%; height: 100px"
                />
                <h6>chennai</h6></a
              >
            </div>
  
            <div class="popular_2">
              <a href="#">
                <img
                  src="./image/popular 4.png"
                  style="width: 60%; height: 100px"
                />
                <h6>delhi NCR</h6></a
              >
            </div>
  
            <div class="other">
              <h6>guntur</h6>
              <h6>kolkata</h6>
              <h6>lucknow</h6>
            </div>
  
            <div class="popular_1">
              <a href="#">
                <img
                  src="./image/popular 5.png"
                  style="width: 60%; height: 100px; margin-left: -135%"
                />
                <h6 style="margin-left: -135%">hyderabad</h6></a
              >
            </div>
  
            <div class="popular_1">
              <a href="#"
                ><img
                  src="./image/popular 6.png"
                  style="width: 60%; height: 100px; margin-left: -90%"
                />
                <h6 style="margin-left: -80%">jaipur</h6></a
              >
            </div>
  
            <div class="popular_1">
              <a href="#"
                ><img
                  src="./image/popular 7.png"
                  style="width: 60%; height: 100px; margin-left: -55%"
                />
                <h6 style="margin-left: -50%">mumbai</h6></a
              >
            </div>
  
            <div class="popular_1">
              <a href="#">
                <img
                  src="./image/popular 8.png"
                  style="width: 60%; height: 100px; margin-left: -30%"
                />
                <h6 style="margin-left: -20%">pune</h6></a
              >
            </div>
          
  
          <div class="others">
            <h4>other cities</h4>
            <h6>coimbatore</h6>
            <h6>guntur</h6>
            <h6>kolkata</h6>
            <h6>lucknow</h6>
            <h6>mysore</h6>
            <h6>nashik</h6>
            <h6>surat</h6>
            <h6>vijayawada</h6>
            <h6>warangal</h6>
          </div> 

          </div>
          </div>

          
          <script src="file.js"></script>
  </body>
</html>-->
