<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>search</title>
  </head>
  <body>
    <div class="icon">
      <a href=""><i class="fa-solid fa-user"></i></a>
      <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
      <a href=""><div class="fa fa-search" id="search-btn"></div></a>
    </div>

    <form class="search-form">
      <input type="search" id="search-box" placeholder="search here..." />
      <label for="search-box" class="fa-solid fa-magnifying-glass"></label>
    </form>

    <form class="search-form">
      <input type="search" id="search-box" placeholder="search here..." />
      <label for="search-box" class="fa-solid fa-magnifying-glass"></label>
    </form>
  </body>
</html>
